#toggle-theme {
  background-color: var(--btn-color-bg);
  color: var(--primary-text);
  border-color: var(--primary-text);
  border-radius: 50%;
  border-color: #3fa0ef;
  border-width: 2.3px;
  height: 30px;
  width: 30px;
}

/* Light Theme Styles */
.light-theme {
  --primary-bg: #ffffff;
  --primary-text: #333333;
  --chart-bg: #ffffff;
  --chart-font-color: #020202;
  --btn-color-bg: #030303;
  --card-color: white;
}

/* Dark Theme Styles */
.dark-theme {
  --primary-bg: black;
  --primary-text: #ffffff;
  --chart-font-color: #ffffff;
  --btn-color-bg: #ffffff;
  --card-color: black;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 1px;
}
.theme-toggle .logo-image {
  justify-content: flex-start;
}
.theme-toggle .btn {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 1px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: left;
}

.logo-image {
  width: 100px;
  height: auto;
}

.chart-heading {
  color: var(--chart-font-color);
}

#card-1 {
  background-color: #3ca0f1;
  color: aliceblue;
}
#card-1 .card-title {
  font-size: 30px;
  color: var(--primary-bg);
}
#card-1 .card-texts {
  font-size: 20px;
  color: var(--primary-bg);
}

#card-2 {
  background-color: #e27658;
  color: aliceblue;
}
#card-2 .card-title {
  font-size: 30px;
  color: var(--primary-bg);
}
#card-2 .money-plus {
  font-size: 20px;
  color: var(--primary-bg);
}

#card-3 {
  background-color: #bac544;
  color: aliceblue;
}
#card-3 .card-title {
  font-size: 30px;
  color: var(--primary-bg);
}
#card-3 .money-minus {
  font-size: 20px;
  color: var(--primary-bg);
}

#card-1:hover {
  background-color: #7eb1e4;
}

#card-2:hover {
  background-color: #df9f8e;
}

#card-3:hover {
  background-color: #bec476;
}

.card {
  border-radius: 12px;
}
.card .card-body {
  border-radius: 12px;
}

#table {
  background-color: #346ba1;
  color: aliceblue;
}
#table .card-body {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
}
#table .card-body .card-top-title {
  font-size: 35px;
  justify-content: flex-start;
  flex-grow: 1;
  margin-right: 15px;
}
#table .card-body .clear-btn {
  background-color: rgb(121, 182, 139);
  color: white;
  font-size: 17px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 2px 4px;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-right: 15px;
}
#table .card-body .clear-btn:hover {
  background-color: cadetblue;
}
#table .card-body .list {
  list-style: none;
  padding: 20px;
  flex-basis: 100%;
  max-height: 344px;
  overflow-y: auto;
  padding-right: 15px;
}
#table .card-body .list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#table .card-body .list .lists {
  font-size: 16px;
  margin: 12px 0;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#table .card-body .list .transaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
#table .card-body .list .transaction .transaction-text {
  flex-grow: 1;
  text-align: left;
}
#table .card-body .list .transaction .transaction-amount {
  color: inherit;
  text-align: right;
  padding: 20px;
}
#table .card-body .list .uppercase {
  text-transform: uppercase;
}
#table .card-body .list .plus .text_color {
  color: rgb(172, 247, 172);
  font-weight: 700;
  width: 100%;
  font-size: 20px;
}
#table .card-body .list .minus .text_color {
  color: #ec8e8e;
  font-weight: 700;
  width: 100%;
  font-size: 20px;
}

#tada {
  background-color: #346ba1;
  color: aliceblue;
}
#tada #transaction-form {
  background-color: #346ba1;
}
#tada #transaction-form .form-control {
  color: black;
  font-weight: 600;
}
#tada #transaction-form .form-control #desc-text {
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  width: 100%;
}
#tada #transaction-form .form-control #amount {
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  width: 100%;
}
#tada #transaction-form .btn {
  background-color: rgb(121, 182, 139);
  color: aliceblue;
  font-size: 20px;
}
#tada #transaction-form .btn:hover {
  background-color: cadetblue;
}

#tada .form-cont {
  width: 100%;
  border: #0a0a0a;
  border-radius: 2px;
  display: flex;
  justify-content: flex-end;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.chart-heading {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chart-container {
  width: 300px;
  height: 250px;
  background-color: var(--chart-bg);
  color: var(--primary-text);
}

.programming-stats {
  background-color: var(--chart-bg);
  color: var(--primary-text);
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
  overflow: auto;
}
.programming-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.card {
  border: none;
}

.chart {
  position: relative;
  height: 265px;
  background-color: var(--chart-bg);
  border-radius: 10px;
  color: var(--primary-text);
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
  overflow: auto;
}
.chart:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

#barChart {
  width: 100%;
  height: 100%;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
}

.loading {
  opacity: 1;
  pointer-events: all;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
}

svg {
  width: 300px;
}

svg path {
  --total-length: 136px;
  stroke-linecap: round;
  stroke-width: 8;
  stroke: rgb(168, 235, 168);
  fill: none;
  stroke-dasharray: var(--total-length) var(--total-length);
  /* animation: animate 5s cubic-bezier(0, 0.3, 0.7, 1) infinite; */
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    stroke-dashoffset: calc(-1 * var(--total-length));
  }
  30%, 50% {
    stroke-dashoffset: 0;
  }
  80%, 100% {
    stroke-dashoffset: var(--total-length);
  }
}
body {
  padding: 0px;
}

.switch__input {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.switch__label {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 50px;
  background-color: #2b2b2b;
  border: 5px solid #5b5b5b;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7b7b7b;
  border-radius: 9999px;
  box-shadow: 10px 0px 0 0 rgba(0, 0, 0, 0.2) inset;
}
.switch__indicator::before, .switch__indicator::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #ffffff;
  border-radius: 9999px;
}
.switch__indicator::before {
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  opacity: 0.6;
}
.switch__indicator::after {
  bottom: 8px;
  right: 6px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  opacity: 0.8;
}

.switch__decoration {
  position: absolute;
  top: 65%;
  left: 50%;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 9999px;
  animation: twinkle 0.8s infinite -0.6s;
}
.switch__decoration::before, .switch__decoration::after {
  position: absolute;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 9999px;
}
.switch__decoration::before {
  top: -20px;
  left: 10px;
  opacity: 1;
  animation: twinkle 0.6s infinite;
}
.switch__decoration::after {
  top: -7px;
  left: 30px;
  animation: twinkle 0.6s infinite -0.2s;
}

@keyframes twinkle {
  50% {
    opacity: 0.2;
  }
}
.switch__indicator, .switch__indicator::before, .switch__indicator::after {
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.switch__input:checked + .switch__label {
  background-color: #8fb5f5;
  border-color: #347cf8;
}
.switch__input:checked + .switch__label .switch__indicator {
  background-color: #ecd21f;
  box-shadow: none;
  transform: translate(-50%, -50%) translateX(72%);
}
.switch__input:checked + .switch__label .switch__indicator::before, .switch__input:checked + .switch__label .switch__indicator::after {
  display: none;
}
.switch__input:checked + .switch__label .switch__decoration {
  top: 50%;
  transform: translate(0%, -50%);
  animation: cloud 8s linear infinite;
  width: 20px;
  height: 20px;
}
.switch__input:checked + .switch__label .switch__decoration::before {
  width: 10px;
  height: 10px;
  top: auto;
  bottom: 0;
  left: -8px;
  animation: none;
}
.switch__input:checked + .switch__label .switch__decoration::after {
  width: 15px;
  height: 15px;
  top: auto;
  bottom: 0;
  left: 16px;
  animation: none;
}
.switch__input:checked + .switch__label .switch__decoration, .switch__input:checked + .switch__label .switch__decoration::before, .switch__input:checked + .switch__label .switch__decoration::after {
  border-radius: 9999px 9999px 0 0;
}
.switch__input:checked + .switch__label .switch__decoration::after {
  border-bottom-right-radius: 9999px;
}

@keyframes cloud {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
.log-con {
  margin-top: 2px;
  align-items: center;
}

.logout {
  background-color: rgb(91, 91, 238);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout:hover {
  background-color: white;
  cursor: pointer;
  color: rgb(91, 91, 238);
}

#username {
  color: var(--primary-text);
  font-family: "arial";
  text-shadow: 2px 2px 2px rgba(109, 105, 105, 0.479);
  font-size: 2em;
  margin: 0px 20 2 8px;
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animtext 3s steps(190, end);
  transition: all cubic-bezier(0.1, 0.7, 1, 0.1);
}

@keyframes animtext {
  from {
    width: 0;
    transition: all 2s ease-in;
  }
}
.footer {
  background-color: #064a69;
  padding: 30px 0;
}
.footer h6 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: white;
}
.footer p {
  text-align: center;
}

.footer_text {
  color: rgb(194, 191, 191);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  padding: 0 15px;
  box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
/* Style for the links section */
.links {
  display: flex;
}

.links .one,
.links .two {
  flex: 1;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links ul li {
  margin-bottom: 10px;
}

.links ul li i {
  margin-right: 10px;
}

/* Footer bottom section */
.footer_text hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.col-md-7 {
  text-align: right;
  margin-top: 10px;
}

/* Make logo text bold */
.text-warning {
  font-weight: bold;
}/*# sourceMappingURL=budget.css.map */