
$primary-bg: #ffffff;
$primary-text: #333333;
$chart-bg: #ffffff;
$chart-font-color: #333333;
$btn-color-bg: #030303;
$card-color: white;

$dark-primary-bg: black;
$dark-primary-text: #ffffff;
$dark-chart-bg: black;
$dark-chart-font-color: black;
$dark-btn-color-bg: #ffffff;
$dark-card-color: black;

$bar-color: #fff;
$ball-color: #fff;
$bg-color: #ea4961;

#toggle-theme {
  background-color: var(--btn-color-bg);
  color: var(--primary-text);
  border-color: var(--primary-text);
  // background-color: #fcfafd;
  border-radius: 50%;
  border-color: #3fa0ef;
  border-width: 2.3px;
  height: 30px;
  width: 30px;
}

.date-picker {
  display: inline-block;
  position: relative;
}

.datepicker-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.calendar-popup {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.calendar-month-year {
  font-weight: bold;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  padding: 10px;
}

.calendar-day {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.calendar-prev,
.calendar-next {
  cursor: pointer;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}





/* Light Theme Styles */
.light-theme {
  --primary-bg: #{$primary-bg};
  --primary-text: #{$primary-text};
  --chart-bg: #{$chart-bg};
  --chart-font-color: #{$chart-font-color};
  --btn-color-bg: #{$btn-color-bg};
  --card-color: #{$card-color};
}

/* Dark Theme Styles */
.dark-theme {
  --primary-bg: #{$dark-primary-bg};
  --primary-text: #{$dark-primary-text};
  --chart-bg: #{$dark-chart-bg};
  --chart-font-color: #{$dark-chart-font-color};
  --btn-color-bg: #{$dark-btn-color-bg};
  --card-color: #{$dark-card-color};
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 1px;

  .logo-image {
    justify-content: flex-start;
  }

  .btn {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 1px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: left;
}

.logo-image {
  width: 100px;
  height: auto;
}

.chart-heading {
  color: var(--chart-font-color);
}

#card-1 {
  background-color: #3fa0ef;
  color: aliceblue;

  .card-title {
    font-size: 30px;
    color: var(--primary-bg);
  }

  .card-texts {
    font-size: 20px;
    color: var(--primary-bg);
  }
}

#card-2 {
  background-color: #e07e63;
  color: aliceblue;

  .card-title {
    font-size: 30px;
    color: var(--primary-bg);
  }

  .money-plus {
    font-size: 20px;
    color: var(--primary-bg);
  }
}

#card-3 {
  background-color: #bfca43;
  color: aliceblue;

  .card-title {
    font-size: 30px;
    color: var(--primary-bg);
  }

  .money-minus {
    font-size: 20px;
    color: var(--primary-bg);
  }
}

#card-1:hover {
  background-color: #7eb1e4;
}

#card-2:hover {
  background-color: #df9f8e;
}

#card-3:hover {
  background-color: #bec476;
}

.card {
  border-radius: 12px;

  .card-body {
    border-radius: 12px;
  }
}

#table {
  background-color: #346ba1;
  color: aliceblue;

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-wrap: wrap;

    .card-top-title {
      font-size: 35px;
      justify-content: flex-start;
      flex-grow: 1;
      margin-right: 15px;
    }

    .clear-btn {
      background-color: rgb(121, 182, 139);
      color: white;
      font-size: 17px;
      font-weight: 500;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      padding: 2px 4px;
      margin-top: 8px; 
      margin-bottom: 20px;
     margin-right: 15px;

      &:hover {
        background-color: cadetblue;
      }
    }

    .list {
      list-style: none;
      padding: 20px;
      flex-basis: 100%;
      max-height: 344px;
      overflow-y: auto;
      padding-right: 15px;

      &::-webkit-scrollbar {
        width: 0;
        background: transparent;
      }
      .lists {
        font-size: 16px;
        margin: 12px 0;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }

      .transaction {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;

        .transaction-text {
          flex-grow: 1;
          text-align: left;
        }

        .transaction-amount {
          color: inherit;
          text-align: right;
          padding: 20px;
        }
      }
      .uppercase {
        text-transform: uppercase;
      }
      .plus .text_color {
        color: rgb(172, 247, 172);
        font-weight: 700;
        width: 100%;
        font-size: 20px;
      }

      .minus .text_color {
        color: #ec8e8e;
        font-weight: 700;
        width: 100%;
        font-size: 20px;
      }
    }
  }
}

#tada {
  background-color: #346ba1;
  color: aliceblue;

  #transaction-form {
    background-color: #346ba1;

    .form-control {
      color: black;
      font-weight: 600;

      #desc-text {
        padding-top: 3px;
        padding-bottom: 3px;
        border: none;
        width: 100%;
      }

      #amount {
        padding-top: 3px;
        padding-bottom: 3px;
        border: none;
        width: 100%;
      }
    }

    .btn {
      background-color:  rgb(121, 182, 139);
      color: aliceblue;
      font-size: 20px;
    }
    .btn:hover{
      background-color:cadetblue ;
    }
  }
}

#tada .form-cont {
  width: 100%;
  border: #0a0a0a;
  border-radius: 2px;
  display: flex;
  justify-content: flex-end;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.chart-heading {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chart-container {
  width: 200px;
  height: 250px;
  background-color: var(--chart-bg);
  color: var(--primary-text);
}

.programming-stats {
  background-color: var(--chart-bg);
  color: var(--primary-text);
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
  overflow: auto;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
}

.card {
  border: none;
}

.chart {
  position: relative;
  height: 265px;
  background-color: var(--chart-bg);
  color: var(--primary-text);
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
  overflow: auto;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
}

#barChart {
  width: 100%;
  height: 100%;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
}

.loading {
  opacity: 1;
  pointer-events: all;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
}

svg {
  width: 300px;
}

svg path {
  --total-length: 136px;
  stroke-linecap: round;
  stroke-width: 8;
  stroke: rgb(168, 235, 168);
  fill: none;
  stroke-dasharray: var(--total-length) var(--total-length);
  /* animation: animate 5s cubic-bezier(0, 0.3, 0.7, 1) infinite; */
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    // Start from an empty path (with a negative offset)
    stroke-dashoffset: calc(-1 * var(--total-length));
  }
  30%,
  50% {
    // Fill the path towards the center, then pause for a bit
    stroke-dashoffset: 0;
  }
  80%,
  100% {
    // Remove the stroke, but now in the opposite direction
    stroke-dashoffset: var(--total-length);
  }
}
// .....
body {
  padding: 50px;
}

// .switch {
//     display: inline-block;
//     position: relative;
// }

.switch__input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.switch__label {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 60px;
    background-color: #2B2B2B;
    border: 5px solid #5B5B5B;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
}

.switch__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-72%);
    display: block;
    width: 40px;
    height: 40px;
    background-color: #7B7B7B;
    border-radius: 9999px;
    box-shadow: 10px 0px 0 0 rgba(#000000, 0.2) inset;

    &::before,
    &::after {
        position: absolute;
        content: '';
        display: block;
        background-color: #FFFFFF;
        border-radius: 9999px;
    }

    &::before {
        top: 7px;
        left: 7px;
        width: 9px;
        height: 9px;
        background-color: #FFFFFF;
        opacity: 0.6;
    }

    &::after {
        bottom: 8px;
        right: 6px;
        width: 14px;
        height: 14px;
        background-color: #FFFFFF;
        opacity: 0.8;
    }
}

.switch__decoration {
    position: absolute;
    top: 65%;
    left: 50%;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 9999px;
    animation: twinkle 0.8s infinite -0.6s;

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        width: 5px;
        height: 5px;
        background-color: #FFFFFF;
        border-radius: 9999px;
    }

    &::before {
        top: -20px;
        left: 10px;
        opacity: 1;
        animation: twinkle 0.6s infinite;
    }

    &::after {
        top: -7px;
        left: 30px;
        animation: twinkle 0.6s infinite -0.2s;
    }
}

@keyframes twinkle {
    50% { opacity: 0.2; }
}

.switch__indicator {
    &,
    &::before,
    &::after {
        transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
    }
}

.switch__input:checked + .switch__label {
    background-color: #8FB5F5;
    border-color: #347CF8;

    .switch__indicator {
        background-color: #ECD21F;
        box-shadow: none;
        transform: translate(-50%, -50%) translateX(72%);

        &::before,
        &::after {
            display: none;
        }
    }

    .switch__decoration {
        top: 50%;
        transform: translate(0%, -50%);
        animation: cloud 8s linear infinite;

        width: 20px;
        height: 20px;

        &::before {
            width: 10px;
            height: 10px;
            top: auto;
            bottom: 0;
            left: -8px;
            animation: none;
        }

        &::after {
            width: 15px;
            height: 15px;
            top: auto;
            bottom: 0;
            left: 16px;
            animation: none;
        }

        &,
        &::before,
        &::after {
            border-radius: 9999px 9999px 0 0;
        }

        &::after {
            border-bottom-right-radius: 9999px;
        }
    }
}

@keyframes cloud {
    0% {
        transform: translate(0%, -50%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
}

.logout-container {
  margin-top: 10px; 
  display: flex;
  align-items: center;
}

.logout{
  background-color: rgb(91, 91, 238); 
  color: #ffffff; 
  padding: 10px 20px;
  border-radius: 5px; 
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 0px;
  margin-bottom: 14px;
  margin-left: 200px; 
}

.logout:hover {
  background-color: white; 
  cursor: pointer;
  color: rgb(91, 91, 238);
}

